.group {
    width: 1274px;
    height: 804px;
    left: 80px;
    top: 950px;
    display: flex;
    flex-direction: column;
    margin-top: 81px;
    
    &-menu {
        width: 380px;
        height: 732px;
        background: #F7F7F7;
        border-radius: 5px;
        display: flex;
        flex-direction: column;

        &-tipe {
            list-style-type: none;
        }

        &-position {
            width: 358px;
            height: 76px;
            background: #F7F7F7;
            border-radius: 5px;
            margin-top: 10px;
            border: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            :hover {
                background: #4200FF;
                border-radius: 5px;
                transition: 0.7s;
                width: 358px;
                height: 76px;
            }

            &-wheel {
                width: 36px;
                height: 36px;
            }

            &-text {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 20px;
                /* identical to box height, or 91% */

                text-align: center;
                color: rgba(0, 0, 0, 0.9);

                :hover {
                    color: ;
                }
            }

            &-vector {
                background: rgba(0, 0, 0, 0.9);
                
                :hover {
                    background: #FFFFFF;
                }
            }    
        }

    }
}

