.blendlar {
    width: 1280px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;

    &-title {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 30px;
    }

    &-conteiner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
        gap: 19px;
        margin-bottom: 120px;
    }

    &-box {
        width: 305px;
        height: 180px;
        background: #F7F7F7;
        border-radius: 5px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    &-text {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
    }
}